/* but-colors.css begin */
body,html	
		{
		background-color:#FFFFFF;
		}

prm-topbar  .top-nav-bar  /*top menu background*/
		{
		color:#E4002B;
		background-color:#FFFFFF;	
		}
.md-button.button-over-dark,prm-topbar .md-button  /* top menu button color */
		{
		color:#E4002B;
		}
prm-user-area .user-menu-button .user-name
		{
		color:#E4002B;	
		}
div.product-logo a:hover        /* hover logo */
		{
		box-shadow: inset 0 -2px 0 0 #E4002B;	
		background-color:#FFFFFF;
		}

/* but-colors.css end */